.checkout-container {
  padding: 20px;
  text-align: center;
}

.pay-btn {
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.pay-btn:hover {
  transform: scale(1.05);
}