.footer {
  background: #f9f9f9;
  padding: 20px 20px;
  /* margin-top: 60px;  */
}

/* Top */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  flex: 1;
}

.footer-col h2.logo {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-col h3 {
  margin-bottom: 10px;
}

.footer-col p {
  color: #555;
  margin: 5px 0;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 6px 0;
  cursor: pointer;
  color: #555;
}

.footer-col ul li:hover {
  color: #ff5c5c;
}

/* Social Icons */
.social-icons {
  margin-top: 10px;
}

.social-icons i {
  margin-right: 12px;
  font-size: 18px;
  cursor: pointer;
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.footer-links span {
  margin-left: 20px;
  cursor: pointer;
}

.footer-links span:hover {
  color: #ff5c5c;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}